.chat-page{
    display: flex;

}

.chatname{
   
    background-color: #003b46;
    width: 100%;
    height: 10%;
    color: white;
    font-family: sans-serif;
    border-style: solid;
    border-color:  #021c2e;
    border-radius: 5%;
    margin-bottom: 2%;

}

.chatpage{
    height:100%;
    display: flex;
    flex-direction: column;
}
.chat{
    display: flex;
}

.main-page{
    height: 100%;
    background-color: #c4dfe6;
}
h1{
    margin-left:40%;
}
.otherchat{
    background-color:  #07575b ;
    color:  black;
    float: right;
    margin-top: 1%;
    margin-left: 1%;
    margin-right: 19%;
    font-size: 90%;
    width: 80%;
    min-height: 12%;
    max-height: 100%;
}
.idother{
    color:   #c4dfe6  ;
}
.idmy{
    color: #c4dfe6;
}
.mychat{
    background-color:    #66a5ad ;
    color: black ;
    margin-top: 1%;
    margin-right: 1%;
    margin-left: 19%;
    font-size: 90%;
    width: 80%;
    min-height: 12%;
    max-height: 100%;
}
.input{
    display: flex;
    flex-direction: row;

    height: 10%;
    width:100%;

}

.input-form{
    width: 90%;
}

.submit-button{
    width: 10%;
    float: right;
    background-color: #003b46;
}

.main-chat{
    min-height: 73%;
    max-height: 73%;
    margin-bottom: 2%;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column-reverse;
}

.prepend-message{
    background-color: #07575b;
    color: white;
}
